.Background
{
  background-color:
   lightgreen; font-size: 30px
}
#links {
  float: right;
}
.Hobbies
{
  background-color:
  lightblue; font-size: 30px
}
.Interests
{
  background-color:
  salmon;font-size: 30px
}
About{
  color: green;
}
head{
  float: right;
}
.header{
  background-color: rgb(230, 230, 230);
  font-size: 40px;
}
